/* GENERAL */
*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

html {
    max-width: 1000px;
    margin: auto;
}

.header, .main{
    margin-left: 1rem;
    margin-right: 1rem;
}

.header{
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.footer{
    margin-top: 1rem;
    margin-bottom: 4rem;
}

/* FOOTER */
.socialPNG{
    max-width: 50px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

/* BUTTONS */
.btn {
    background-color: aqua !important;
}

#topButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

/* INDEX */
.coverImg{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

